/* pon style */
.expandIcon{
	display: inline;
	float: right;
}
.ponChoose{
	display: inline;
	float: right;
}
.monitorClass{
	font-size: 13px;
	height: 28px;
	width: 64px;
	line-height: 26px;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.monitorClass:hover{
	/*border: 1px solid grey;*/
	background-color: #0092dd;
 	border-color: #0092dd;
 	color: white;
}

